/*
Creator: Sweetlana Protsenko
Date created: Jan 9,2022
Date last modified:
*/
body {
  background-color: #f1e0b1;
  font-family: Arial, Helvetica, sans-serif;
  color: #0d1f2d;
  max-width: 900px;
}
